:root {
  --bg: #181a1c;
  --bgsec: #2f3334;
  --blue: #3254ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--bg);
  height: 100vh;
}

/* navbar start */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 10px 50px;
  background-color: var(--bg);
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  width: 100%;
  z-index: 9999;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding-right: 10px;
  margin: 0px 25px;
  flex-direction: row;
}

.nav-logo {
  margin-right: 25px;
}

.nav-logo img {
  height: 38px;
  margin-top: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 25px;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  font-size: medium;
  position: relative;
}

.nav-link:hover {
  color: #3254ff;
}

.nav-link::after {
  content: '';
  display: block;
  background-color: var(--blue);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.nav-link:hover::after {
  transform: scaleX(0.7);
}

.logo {
  height: 30px;
}

.logo-small {
  display: none;
}

button i {
  position: absolute;
  top: 22px;
  margin-left: 3px;
  color: #fff;
}

.icon-profile {
  border-radius: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown img {
  width: 30px;
  height: 30px;
}

.dropdown-btn {
  background: transparent;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 10px 40px;
  cursor: pointer;
}

.dropdown-btn i {
  margin-left: 10px;
  margin-top: 3px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--bg);
  min-width: 180px;
  right: 5px;
  list-style: none;
  border: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dropdown-menu i {
  margin: 0px 8px;
}
.dropdown-menu a {
  color: #fff;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: medium;
}
.dropdown-menu a:hover {
  color: #3254ff;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 480px) {
  .navbar-nav {
    margin: 0px 12px;
    margin-left: 20px;
  }
  .nav-logo {
    margin-right: 10px;
  }
  .nav-logo img {
    height: 25px;
  }
  .nav-link {
    margin: 2px 15px;
  }
  .nav-link::after {
    bottom: -10px;
  }
  .navbar-nav a {
    font-size: small;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .logo {
    display: none;
  }
  .logo-small {
    display: block;
  }
  .nav-logo a img {
    height: 20px;
  }
  .dropdown {
    padding-left: 5px;
  }
  .dropdown img {
    height: 25px;
    width: 25px;
  }
}
@media (max-width: 768px) {
  .nav-logo {
    margin-right: 10px;
  }

  .nav-logo img {
    margin-top: 2px;
    height: 30px;
  }

  .navbar {
    padding: 10px;
  }
  .navbar-nav {
    width: 100%;
  }
  .nav-item {
    width: 100%;
    margin-top: 2px;
  }
  .nav-link {
    font-size: medium;
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .nav-link::after {
    bottom: -16px;
  }
  .dropdown-btn {
    margin-left: 0;
  }
  .dropdown-menu {
    right: 0;
  }
}
/* navbar end */

/* hero section start */

.banner {
  position: relative;
  background-image: url('/assets/img/hero-image3.png');
  background-size: cover;
  max-width: 1920px;
  height: 587px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(24, 26, 28, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
}

.banner-content {
  background-color: transparent;
  position: relative;
  width: 90%;
  padding: 10px;
  z-index: 1;
  margin-top: 100px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1rem;
  margin-bottom: 35px;
  line-height: 1.6;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-kiri,
.btn-kanan {
  display: flex;
  align-items: center;
}

.btn-primary,
.btn-secondary {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px 5px;
}

.btn-primary {
  background-color: var(--blue);
  color: white;
}

.btn-secondary {
  background-color: rgba(47, 51, 52, 1);
  color: white;
}

.btn-secondary i {
  margin-right: 5px;
}

.age-rating {
  display: inline-block;
  padding: 10px;
  background-color: rgba(24, 26, 28, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  font-size: 1rem;
  margin-left: 10px;
}

.audio-btn {
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 5px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(24, 26, 28, 0.8);
  cursor: pointer;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 480px) {
  .banner {
    height: auto;
  }

  .banner-content {
    width: 100%;
    padding: 5px;
    margin-top: 40px;
  }
  .title {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .description {
    font-size: 0.9rem;
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .buttons {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .btn-kiri,
  .btn-kanan {
    display: flex;
    align-items: center;
  }

  .btn-kiri {
    padding: 10px;
  }

  .btn-primary {
    width: auto;
    padding: 5px 10px;
    font-size: 0.7em;
  }
  .btn-secondary {
    background-color: rgba(47, 51, 52, 0.9);
    width: auto;
    padding: 5.5px 15px;
    font-size: 0.7em;
    margin: 5px 1px;
  }

  .age-rating {
    background-color: rgba(24, 26, 28, 0.6);
    padding: 4px 10px;
    font-size: 0.7em;
  }
  .audio-btn {
    background-color: rgba(24, 26, 28, 0.6);
    font-size: 10px;
  }
}
@media screen and (max-width: 667px) {
  .description {
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .banner {
    background-position: 80% 100%;
  }
}

/* hero section end */

/* lanjut nonton start*/

.lanjutkan-nonton {
  padding: 20px 5%;
}

.lanjut-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #fff;
}

.movie-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
  scrollbar-width: none; /* Untuk Firefox */
  -ms-overflow-style: none; /* Untuk Internet Explorer dan Edge */
}

.movie-list::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}

.movie {
  position: relative;
  min-width: 300px;
  flex: 0 0 auto;
}

.movie-img {
  width: 300px;
  height: 170px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.movie-img::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 10px;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
}

.movie-info p {
  margin: 0;
  font-size: 1em;
}

.movie-info span {
  font-size: 0.9em;
  color: #fff;
}

.movie-info span i {
  margin-right: 3px;
}

/* .btn-arrow {
  position: absolute;
}

.btn-arrow button {
  font-size: 40px;
}
.btn-arrow button i {
  background-color: aqua;
} */

/* Media queries untuk penyesuaian lebih lanjut */
@media (max-width: 768px) {
  .movie {
    min-width: 200px;
  }

  .melanjutkan-nonton {
    padding: 20px 5%;
  }

  .lanjut-nonton h2 {
    font-size: 1.2em;
  }
}
@media (max-width: 480px) {
  .movie {
    max-width: 295px;
  }

  .lanjut-nonton h2 {
    font-size: 1.2em;
  }
}

/* lanjut nonton end */

/* top rating film */
.top-rating {
  padding: 20px 5%;
}

.top-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #fff;
}

.top-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
  scrollbar-width: none; /* Untuk Firefox */
  -ms-overflow-style: none; /* Untuk Internet Explorer dan Edge */
}

.top-list::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}

.film {
  position: relative;
  flex: 0 0 auto;
}

.film-img {
  width: 268px;
  height: 365px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.film-img::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 10px;
  opacity: 0;
}

.film-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.film:hover .film-img::before {
  opacity: 1; /* Menampilkan overlay saat dihover */
}

.film:hover .film-info {
  opacity: 1; /* Menampilkan film-info saat dihover */
}

.film-info p {
  margin: 0;
  font-size: 1em;
}

.film-info span {
  font-size: 0.9em;
  color: #fff;
}

.film-info span i {
  margin-right: 3px;
}

@media (max-width: 480px) {
  .top-container h2 {
    font-size: 1.3em;
  }
  .top-list {
    gap: 10px;
  }
  .film-img {
    width: 100px;
    height: 150px;
  }
  .film-info {
    font-size: 0.8em;
  }
  .film-info span {
    display: none;
  }
}

/* Top rating end */

/* Trending Start */
.trending {
  padding: 20px 5%;
}

.trending-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #fff;
}

.trending-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.trending-list::-webkit-scrollbar {
  display: none;
}

.trending-film {
  position: relative;
  flex: 0 0 auto;
}

.trend-img {
  width: 268px;
  height: 365px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.trend-img::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 10px;
  opacity: 0;
}

.trend-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.trending-film:hover .trend-img::before {
  opacity: 1; /* Menampilkan overlay saat dihover */
}

.trending-film:hover .trend-info {
  opacity: 1; /* Menampilkan film-info saat dihover */
}

.trend-info p {
  margin: 0;
  font-size: 1em;
}

.trend-info span {
  font-size: 0.9em;
  color: #fff;
}

.trend-info span i {
  margin-right: 3px;
}

@media (max-width: 480px) {
  .trending-container h2 {
    font-size: 1.3em;
  }
  .trending-list {
    gap: 10px;
  }
  .trend-img {
    width: 100px;
    height: 150px;
  }
  .trend-info {
    font-size: 0.8em;
  }
  .trend-info span {
    display: none;
  }
}

/* trending end */

/* Baru Rilis Start */

.rilis-baru {
  padding: 20px 5%;
}

.rilis-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #fff;
}

.rilis-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.rilis-list::-webkit-scrollbar {
  display: none;
}

.rilis-film {
  position: relative;
  flex: 0 0 auto;
}

.rilis-img {
  width: 268px;
  height: 365px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.rilis-img::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 10px;
  opacity: 0;
}

.rilis-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.rilis-film:hover .rilis-img::before {
  opacity: 1; /* Menampilkan overlay saat dihover */
}

.rilis-film:hover .rilis-info {
  opacity: 1; /* Menampilkan film-info saat dihover */
}

.rilis-info p {
  margin: 0;
  font-size: 1em;
}

.rilis-info span {
  font-size: 0.9em;
  color: #fff;
}

.rilis-info span i {
  margin-right: 3px;
}

@media (max-width: 480px) {
  .rilis-container h2 {
    font-size: 1.3em;
  }
  .rilis-list {
    gap: 10px;
  }
  .rilis-img {
    width: 100px;
    height: 150px;
  }
  .rilis-info {
    font-size: 0.8em;
  }
  .rilis-info span {
    display: none;
  }
}
/* rilis baru end */

/* Footer start */
footer {
  background-color: var(--bg);
  border-top: 1px solid rgba(47, 51, 52, 0.8);
  color: rgba(255, 255, 255, 0.79);
  padding: 20px 0;
  margin-top: 15px;
}

.footer-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 290px;
  padding: 20px 10%;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.footer-logo img {
  width: 170px;
  height: 50px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-section {
  flex: 1;
  margin-right: 15px;
}

.footer-section i {
  display: none;
}

.footer-helper {
  list-style: none;
  line-height: 1.5em;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.grid-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid-list li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .footer-logo {
    margin-bottom: 10px;
  }
  .footer-logo img {
    height: 50px;
    width: 100px;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-sections {
    flex-direction: column;
    width: 100%;
  }

  .footer-section {
    width: 100%;
    margin: 20px 0px;
  }

  .grid-list {
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
  }
  .footer-helper {
    line-height: 1.5em;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .footer-logo {
    margin-bottom: 10px;
  }
  .footer-logo img {
    width: 85px;
    height: 30px;
  }
  .footer-logo p {
    font-size: 0.8em;
  }
  .grid-list {
    grid-template-rows: repeat(1, 1fr);
  }
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-sections {
    width: 100%;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-section h3 {
    font-size: 1em;
  }

  .footer-section ul {
    display: none;
  }

  .footer-section h3 .fa-chevron-right {
    display: inline;
    float: right;
  }

  .footer-section h3.active + ul {
    display: block;
  }

  .footer-section h3.active .fa-chevron-down {
    display: inline;
    float: right;
  }
}

.footer-section h3 .fa-chevron-down {
  display: none;
}
