:root {
  --bg: #181a1c;
  --bgsec: #2f3334;
  --blue: #3254ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--bgsec);
  height: 100vh;
}

/* navbar start */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 10px 50px;
  background-color: var(--bg);
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  width: 100%;
  z-index: 9999;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding-right: 10px;
  margin: 0px 25px;
}

.nav-logo {
  margin-right: 25px;
}

.nav-logo img {
  height: 37px;
  margin-top: 13px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 25px;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  font-size: medium;
}

.nav-link:hover {
  color: #3254ff;
}

.nav-link::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--blue);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav-link:hover::after {
  transform: scaleX(0.7);
}

.logo {
  height: 30px;
}

.logo-small {
  display: none;
}

button i {
  position: absolute;
  top: 22px;
  margin-left: 3px;
  color: #fff;
}

.icon-profile {
  border-radius: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown img {
  width: 30px;
  height: 30px;
}

.dropdown-btn {
  background: transparent;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 10px 40px;
  cursor: pointer;
}

.dropdown-btn i {
  margin-left: 10px;
  margin-top: 3px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--bg);
  min-width: 180px;
  right: 5px;
  list-style: none;
  border: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dropdown-menu i {
  margin: 0px 8px;
}
.dropdown-menu a {
  color: #fff;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: medium;
}
.dropdown-menu a:hover {
  color: #3254ff;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 560px) {
  .navbar-nav {
    margin: 0px 12px;
    margin-left: 20px;
  }
  .nav-logo {
    margin-right: 10px;
  }

  .nav-link {
    margin: 2px 15px;
  }
  .navbar-nav a {
    font-size: small;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .logo {
    display: none;
  }
  .logo-small {
    display: block;
  }
  .dropdown {
    padding-left: 5px;
  }
  .dropdown img {
    height: 25px;
    width: 25px;
  }
}
@media (max-width: 660px) {
  .navbar {
    padding: 10px;
  }
  .navbar-nav {
    width: 100%;
  }
  .nav-item {
    width: 100%;
    margin-top: 2px;
  }
  .nav-link {
    font-size: medium;
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .dropdown-btn {
    margin-left: 0;
  }
  .dropdown-menu {
    right: 0;
  }
}
/* navbar end */

/* hero section start */

/* hero section end */
